[submodule ".github/scripts/shared"]
	path = .github/scripts/shared
	url = https://github.com/zapplyjobs/job-board-shared.git

[submodule ".github/scripts/processing"]
	path = .github/scripts/processing
	url = https://github.com/zapplyjobs/job-board-processing.git
